## Part 1

In [350]:
import pandas as pd

In [351]:
df = pd.read_table("input.txt", header=None)
df.columns = ["num"]

In [352]:
df["numstr"] = df["num"].astype(str)

In [353]:
df.dtypes

num        int64
numstr    object
dtype: object

In [354]:
df.loc[df["numstr"].str.len() > 2, "numstr"] = (df["numstr"].str[0] + df["numstr"].str[-1])

In [355]:
df.loc[df["numstr"].str.len() > 2, "numstr"]

Series([], Name: numstr, dtype: object)

In [356]:
df.loc[df["numstr"].str.len() == 1, "numstr"] = (df["numstr"].str[0] * 2)

In [357]:
df["final"] = df["numstr"].astype(int)

In [358]:
df["final"].sum()

54953

## Part 2

In [334]:
df1 = pd.read_table("input1.txt", header=None)
df1.columns = ["line"]
numbers = [["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"],
          [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
]
replaceDict = {numbers[0][i]:numbers[1][i] for i in range(10)}

In [335]:
df1

                         line
0        9cbncbxclbvkmfzdnldc
1                 jjn1drdffhs
2                       3six7
3                 38rgtnqqxtc
4            rxszdkkv3j8kjhbm
..                        ...
995                     2two4
996         lkrjlsz7mgv9525p1
997  nineonebmfdxxfqvvkrblrd9
998         5six6cvmqttbsxkzg
999            42seven13four4

[1000 rows x 1 columns]

In [336]:
s = df1["line"].str.findall("(?=([0-9]|one|two|three|four|five|six|seven|eight|nine))")

In [337]:
f = s.str[0].replace(replaceDict).astype(str) + s.str[-1].replace(replaceDict).astype(str)

In [338]:
f

0      99
1      11
2      37
3      38
4      38
       ..
995    24
996    71
997    99
998    56
999    44
Name: line, Length: 1000, dtype: object

In [339]:
f.astype(int).sum()

53868