Ignore this and look at day3_attemt2.ipynb. I was trying to do it in pandas and idk what i was cooking lol

In [57]:
import pandas as pd
import numpy as np
import re

In [29]:
df = pd.read_table("input.txt", header=None)
df.columns = ["c1"]

In [34]:
m = df["c1"].str.split("", expand=True)

In [52]:
pattern = re.compile("\d")

In [117]:
symbols = list(np.unique(np.concatenate(df["c1"].str.findall("[^.\d]").to_numpy())))
print(symbols)

['#', '$', '%', '&', '*', '+', '-', '/', '=', '@']

In [60]:
np.where(m.eq("6"))

(array([  0,   0,   0,   0,   1,   1,   2,   3,   3,   4,   4,   4,   5,
          5,   6,   8,   8,   9,   9,   9,   9,  10,  11,  12,  12,  12,
         13,  13,  14,  14,  14,  15,  16,  16,  17,  17,  17,  18,  18,
         18,  19,  19,  19,  20,  20,  22,  22,  23,  23,  23,  24,  25,
         25,  26,  26,  26,  26,  27,  28,  28,  28,  28,  28,  29,  30,
         30,  30,  31,  31,  31,  31,  32,  32,  33,  33,  33,  33,  34,
         34,  34,  35,  35,  36,  36,  36,  36,  37,  37,  37,  38,  38,
         38,  39,  39,  39,  40,  40,  40,  41,  41,  41,  41,  41,  41,
         41,  41,  41,  42,  43,  43,  44,  44,  45,  46,  47,  48,  48,
         48,  48,  49,  49,  49,  49,  50,  51,  51,  51,  53,  53,  54,
         54,  54,  54,  55,  55,  56,  56,  57,  57,  57,  58,  58,  58,
         58,  59,  59,  59,  60,  61,  61,  62,  62,  62,  62,  62,  63,
         63,  63,  64,  64,  64,  64,  64,  64,  65,  65,  65,  65,  65,
         66,  66,  67,  68,  68,  68,  68,  68,  68,  68,  68,  69,  69,
         70,  71,  71,  71,  71,  71,  72,  73,  73,  73,  73,  74,  74,
         75,  75,  75,  76,  77,  77,  77,  77,  77,  78,  79,  80,  80,
         80,  81,  81,  82,  82,  83,  83,  84,  85,  85,  85,  85,  87,
         87,  87,  87,  88,  88,  88,  88,  88,  89,  89,  89,  89,  89,
         91,  92,  92,  92,  93,  94,  94,  95,  95,  95,  97,  97,  97,
         98,  98,  98,  99,  99,  99,  99, 100, 100, 100, 101, 101, 101,
        101, 101, 102, 102, 103, 103, 104, 104, 104, 106, 106, 106, 106,
        106, 107, 108, 108, 108, 108, 109, 109, 110, 110, 110, 110, 110,
        111, 111, 111, 112, 112, 112, 113, 113, 113, 114, 114, 114, 115,
        116, 116, 116, 117, 117, 118, 118, 118, 118, 118, 120, 120, 120,
        120, 122, 122, 122, 122, 122, 123, 123, 123, 123, 124, 124, 125,
        125, 125, 126, 127, 127, 128, 128, 128, 129, 129, 129, 129, 129,
        130, 130, 130, 130, 130, 130, 131, 131, 131, 132, 132, 133, 133,
        133, 133, 134, 135, 135, 135, 135, 135, 135, 136, 136, 137, 138,
        139, 139, 139]),
 array([  7,  22,  37, 134,  20,  44, 119,  70,  96,  30,  42, 130,   2,
         13,  33, 119, 129,  37,  38,  86, 114, 124, 133,  34,  52,  76,
         81, 126,  68,  91, 100,  94,  32, 133,  13, 112, 139,  24,  43,
         95,  49, 115, 139,  99, 101,  42,  85,  66, 115, 116,  99,  36,
        137,  12,  55,  77, 130,  71,   4,  12,  55,  81, 115,  14,  33,
        111, 119,   8,  41, 103, 104, 101, 110,  11,  48,  65, 103,  31,
        111, 123,  60,  82,  49,  69,  89, 139, 112, 121, 125,  69,  82,
        108,  57,  77, 131,  91, 107, 113,  17,  44,  45,  58,  59,  74,
         75,  95,  96,  84,  76, 123,   9, 105,  97,  42,   6,  75,  85,
        115, 128,  19,  20, 106, 133, 103,  46,  93, 121,  56, 104,  12,
         13,  88, 140,  25,  70,  19,  89,  59,  67, 129,  42,  76,  98,
         99,   9,  20,  25, 103,  58, 123,  23,  37,  99, 101, 118,  26,
         47, 128,  16,  36,  59, 106, 120, 139,  40,  41,  56,  69, 133,
         82, 114,   3,  15,  23,  36,  45,  74, 113, 114, 115,   4, 123,
         63,  21,  45,  47,  92, 103,   4,  11,  42,  70,  72,  24,  66,
         27,  44,  57, 117,  27,  75,  76,  93,  94,   5,  32,  82, 101,
        109,  97,  98,  27,  90,   3,  81,  61,  85,  96, 113, 136,   5,
         90,  92, 132,  17,  38,  39,  51, 128,  26,  27,  76,  95, 136,
         73,  28,  52, 136,  40,   2,  57,  36, 117, 137,  32,  41,  55,
         14,  16, 122,  19,  81,  82,  93,  10,  11,  76,  34,  53,  55,
         83, 104,  25,  94,   8,  33,  73,  97, 120,  14,  69,  70,  91,
         93,  75,  32,  33,  98, 109,   2,  86,  29,  65, 121, 123, 130,
          4,   5,  69,  22,  46,  85,  81,  98, 133,  23,  57, 103,  27,
         37,  52,  65,   5,  78,  25,  42,  44,  60, 115,  60,  65,  71,
        110,  10,  16,  94, 128, 135,  66, 105, 113, 114,  77, 130,  44,
         51, 106, 138,  10,  38,  44,  59,  77,   3,  13,  29,  91, 107,
          8,  18,  21,  26,  44,  53,  33,  88, 118,  57, 121,  46,  47,
         64, 102,  67,   9,  71, 100, 108, 114, 132,  60, 122,  26, 129,
         79,  80, 110]))

In [61]:
m

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
0,,.,.,.,.,.,.,6,4,4,...,7,.,6,9,1,.,.,.,.,
1,,.,.,.,.,.,*,.,.,.,...,.,.,.,.,.,$,.,.,.,
2,,.,.,.,9,3,9,.,@,2,...,.,.,.,.,.,.,.,.,.,
3,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,
4,,.,.,.,.,.,.,.,.,.,...,5,.,.,.,.,.,.,.,.,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,,.,.,.,2,8,7,.,.,6,...,6,.,.,.,.,.,.,.,.,
136,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,
137,,.,.,.,.,.,.,.,.,.,...,.,.,.,2,5,9,.,.,.,
138,,.,.,.,.,.,.,5,1,5,...,.,.,.,.,.,*,.,.,.,
139,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,9,3,5,

In [164]:
# Symbol on right
a = m[m.isin([str(i) for i in range(10)]) & m.shift(-1, axis=1).isin(symbols)]
# Symbol on left
b = m[m.isin([str(i) for i in range(10)]) & m.shift(1, axis=1).isin(symbols)]
# Symbol below
c = m[m.isin([str(i) for i in range(10)]) & m.shift(-1).isin(symbols)]
# Symbol above
d = m[m.isin([str(i) for i in range(10)]) & m.shift(1).isin(symbols)]
# Symbol above right
e = m[m.isin([str(i) for i in range(10)]) & m.shift(1).shift(-1, axis=1).isin(symbols)]
# Symbol above left
f = m[m.isin([str(i) for i in range(10)]) & m.shift(1).shift(1, axis=1).isin(symbols)]
# Symbol below right
g = m[m.isin([str(i) for i in range(10)]) & m.shift(-1).shift(-1, axis=1).isin(symbols)]
# Symbol below left
h = m[m.isin([str(i) for i in range(10)]) & m.shift(-1).shift(1, axis=1).isin(symbols)]

In [150]:
m

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
0,,.,.,.,.,.,.,6,4,4,...,7,.,6,9,1,.,.,.,.,
1,,.,.,.,.,.,*,.,.,.,...,.,.,.,.,.,$,.,.,.,
2,,.,.,.,9,3,9,.,@,2,...,.,.,.,.,.,.,.,.,.,
3,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,
4,,.,.,.,.,.,.,.,.,.,...,5,.,.,.,.,.,.,.,.,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,,.,.,.,2,8,7,.,.,6,...,6,.,.,.,.,.,.,.,.,
136,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,
137,,.,.,.,.,.,.,.,.,.,...,.,.,.,2,5,9,.,.,.,
138,,.,.,.,.,.,.,5,1,5,...,.,.,.,.,.,*,.,.,.,
139,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,9,3,5,

In [167]:
res = a.copy()
res.update(b)
res.update(c)
res.update(d)
res.update(e)
res.update(f)
res.update(g)

In [169]:
m

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
0,,.,.,.,.,.,.,6,4,4,...,7,.,6,9,1,.,.,.,.,
1,,.,.,.,.,.,*,.,.,.,...,.,.,.,.,.,$,.,.,.,
2,,.,.,.,9,3,9,.,@,2,...,.,.,.,.,.,.,.,.,.,
3,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,
4,,.,.,.,.,.,.,.,.,.,...,5,.,.,.,.,.,.,.,.,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,,.,.,.,2,8,7,.,.,6,...,6,.,.,.,.,.,.,.,.,
136,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,
137,,.,.,.,.,.,.,.,.,.,...,.,.,.,2,5,9,.,.,.,
138,,.,.,.,.,.,.,5,1,5,...,.,.,.,.,.,*,.,.,.,
139,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,9,3,5,

In [173]:
df["c1"].str.findall("\d+")

0               [644, 612, 254, 638, 802, 118, 317, 691]
1      [321, 176, 906, 518, 994, 938, 579, 35, 155, 320]
2                          [939, 225, 41, 102, 603, 413]
3      [470, 128, 288, 442, 191, 360, 218, 916, 552, ...
4                     [176, 62, 715, 831, 937, 782, 645]
                             ...
135    [287, 634, 359, 439, 251, 7, 961, 139, 746, 76...
136                    [493, 410, 618, 85, 189, 81, 568]
137                            [627, 355, 258, 738, 259]
138    [515, 357, 509, 205, 203, 7, 353, 209, 790, 81...
139                       [313, 444, 662, 956, 714, 935]
Name: c1, Length: 140, dtype: object

In [168]:
res

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,3,9,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5,9,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN

In [176]:
def getnum(row):
    
res.apply(lambda x : x, axis=1)

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,3,9,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5,9,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN

In [145]:
m[m.isin([str(i) for i in range(10)]) & m.shift(-1).shift(1, axis=1).isin(symbols)]

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
m[m.isin([str(i) for i in range(10)]) & m.shift(1).isin(symbols)]

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
m[m.isin([str(i) for i in range(10)]) & m.shift(-1).isin(symbols)]

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
m.shift(1)

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,,.,.,.,.,.,.,6,4,4,...,7,.,6,9,1,.,.,.,.,
2,,.,.,.,.,.,*,.,.,.,...,.,.,.,.,.,$,.,.,.,
3,,.,.,.,9,3,9,.,@,2,...,.,.,.,.,.,.,.,.,.,
4,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,,.,.,.,.,.,.,*,.,.,...,.,.,.,%,.,.,.,.,.,
136,,.,.,.,2,8,7,.,.,6,...,6,.,.,.,.,.,.,.,.,
137,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,
138,,.,.,.,.,.,.,.,.,.,...,.,.,.,2,5,9,.,.,.,
139,,.,.,.,.,.,.,5,1,5,...,.,.,.,.,.,*,.,.,.,

In [133]:
m

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
0,,.,.,.,.,.,.,6,4,4,...,7,.,6,9,1,.,.,.,.,
1,,.,.,.,.,.,*,.,.,.,...,.,.,.,.,.,$,.,.,.,
2,,.,.,.,9,3,9,.,@,2,...,.,.,.,.,.,.,.,.,.,
3,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,
4,,.,.,.,.,.,.,.,.,.,...,5,.,.,.,.,.,.,.,.,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,,.,.,.,2,8,7,.,.,6,...,6,.,.,.,.,.,.,.,.,
136,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,
137,,.,.,.,.,.,.,.,.,.,...,.,.,.,2,5,9,.,.,.,
138,,.,.,.,.,.,.,5,1,5,...,.,.,.,.,.,*,.,.,.,
139,,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,9,3,5,

In [119]:
# coordinates of all numbers
nums = np.where(m.isin([str(i) for i in range(10)]))

In [120]:
# coordiantes of all symbols
syms = np.where(m.isin(symbols))

In [127]:
np.isin(syms[0], nums[0])

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])