In [1]:
import pandas as pd

In [18]:
df = pd.read_table("input.txt", header=None, sep=":")
df.columns=["c1", "c2"]

In [54]:
df

          c1                                                 c2
0     Game 1   1 red, 3 blue, 11 green; 1 blue, 5 red; 3 blu...
1     Game 2   3 red, 13 blue, 5 green; 14 green, 14 blue; 9...
2     Game 3   17 blue, 5 red; 3 red, 11 green, 17 blue; 1 r...
3     Game 4   14 green, 14 red, 1 blue; 15 red, 13 green, 1...
4     Game 5   3 green, 1 blue, 3 red; 6 red, 2 green, 2 blu...
..       ...                                                ...
95   Game 96   15 blue, 7 green, 3 red; 5 red, 7 green, 17 b...
96   Game 97   5 red, 2 green; 8 red; 1 blue, 7 green, 2 red...
97   Game 98   6 green, 1 blue, 1 red; 3 green, 3 red; 1 blu...
98   Game 99   16 red, 5 blue, 9 green; 2 green, 7 blue, 2 r...
99  Game 100   16 blue, 12 red, 3 green; 2 green, 7 blue; 5 ...

[100 rows x 2 columns]

In [19]:
# df = df.iloc[:, 1].str.split(';', expand=True)

In [91]:
df["c2"].str.findall("[0-9]+ red")

0            [1 red, 5 red, 13 red, 6 red, 16 red]
1                     [3 red, 3 red, 3 red, 2 red]
2     [5 red, 3 red, 1 red, 1 red, 10 red, 12 red]
3                         [14 red, 15 red, 15 red]
4            [3 red, 6 red, 12 red, 9 red, 10 red]
                          ...
95                    [3 red, 5 red, 6 red, 4 red]
96                    [5 red, 8 red, 2 red, 7 red]
97                           [1 red, 3 red, 4 red]
98                  [16 red, 2 red, 9 red, 13 red]
99                   [12 red, 6 red, 5 red, 9 red]
Name: c2, Length: 100, dtype: object

In [128]:
red = df["c2"].str.findall("[0-9]+ red").str.join(",").replace("[a-z]", "", regex=True).str.split(" ,").apply(lambda x: any([int(n) > 12 for n in x]))

In [129]:
green = df["c2"].str.findall("[0-9]+ green").str.join(",").replace("[a-z]", "", regex=True).str.split(" ,").apply(lambda x: any([int(n) > 13 for n in x]))

In [130]:
blue = df["c2"].str.findall("[0-9]+ blue").str.join(",").replace("[a-z]", "", regex=True).str.split(" ,").apply(lambda x: any([int(n) > 14 for n in x]))

In [138]:
res = pd.DataFrame(red | green | blue)
res["game"] = list(res.index)
res["game"] += 1

In [139]:
res.loc[res["c2"] == True, "game"].sum()

3119